html
{
  position:relative;
  min-height:100%;
}
body
{
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000428, #001a30); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000428, #001a30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom:120px;
}

#carousel
{
  margin-top:1px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

hr
{
  background-color:white;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#footer-container {
  position:absolute;
  width:100%;
  height:100%;
  bottom:0px;
  left:0;
  right:0;
}